<div class="row">
  <div class="col-md-12">
    <form id="geocode-search">
      <div class="form-group">
        <input placeholder="Search for a weather station" class="form-control" type="text" name="addr">
      </div>
    </form>
  </div>
</div>
